{
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": ".",
    "jsx": true
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["prettier", "import"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {}
    }
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0
  }
}
